
/*=============================
  General
==============================*/
* {
	box-sizing: border-box;
	/*border: 1px indianred solid;*/
}

body {
	background: -webkit-linear-gradient(rgba(28, 28, 31, 0.1), rgba(28, 28, 31, 0.8)),
	-webkit-linear-gradient(rgba(28, 28, 31, 0.5), rgba(28, 28, 31, 0.3)),
	url('../img/recordsonwall_low.jpeg');
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-color: rgba(28, 28, 31, 1);
	font-family: "Archivo Narrow", Helvetica, sans-serif;
	letter-spacing: 1px;
}


@font-face {
    font-family: Komoda;
    src: url('Komoda/Komoda.otf');
}


.header {
	height: 300px;
	color: white;
	position: relative;
	top: 10px;
}

#mainLogo {
	font-family: Komoda;
	font-size: 100px;
	letter-spacing: 4px;
	border: 3px solid whitesmoke;
	width: 220px;
	margin-top: 32px;
	padding-top: 7px;
	padding-left: 5px;
	position: relative;
	top: 255px;
	left: 40%;
	text-align: center;
	display: inline-block;
}

#mainLogo a {
	text-decoration: none;
	color: whitesmoke;
}

.instructions {
	font-size: 20px;
}

#query,
#submit {
	color: rgba(28, 28, 31, 1);
}

.wrapper {
	width: 100%;
	height: 100%;
}

ul {
	list-style: none;
}

.hide {
	display: none;
}


.clearfix {
	overflow: hidden;
}

/*=============================
  Search field
==============================*/

.formWrapper {
	display: inline-block;
	text-align: center;
	position: absolute;
	margin-left: 70px;
	margin-top: -10px;
	top: 27px;
	margin-bottom: -50px;
}


input[type="text"] {
	outline: none;
	border: 3px rgba(255, 60, 0, 0.4) solid;
	border-radius: 10px;
	background-color: rgba(28, 28, 31, 0.2);
	color: green;
	padding: 12px 100px 12px 20px;
	font-size: 25px;
	max-width: 300px;
	/*margin-bottom: 55px;*/
}

#search-term input {
	color: whitesmoke;
}

#search-term input[type="submit"] {
	color: whitesmoke;
	border: 3px solid rgba(255, 20, 0, 0.5);
	border-radius: 10px;
	background-color: rgba(255, 60, 0, 0.7);
	padding: 10px 15px;
	outline: none;
	font-size: 25px;
	transition: all 100ms;
}


#search-term input[type="submit"]:hover {
	color: whitesmoke;
	background-color: rgba(255, 80, 0, 0.9);
}


#search-term input[type="submit"]:active {
	color: grey;
	background-color: rgba(255, 60, 0, 0.4);
	border: 3px solid rgba(255, 60, 0, 0.4);
}



/*=============================
  Playlist
==============================*/

.playlistResults {
	width: 60%;
	text-align: left;
	display: inline-block;
	float: left;
}


#playlist p {
	color: white;
	text-align: left;
}

#playlist p li {
	padding: 10px;
	font-size: 20px;
	border-bottom: 1px solid rgba(248, 248, 242, 0.2);
	border-left: 2px solid transparent;
	cursor: pointer;
}

#playlist p li:not(.playing):hover {
	border-left: 2px solid rgba(248, 248, 242, 0.7);
	background-color: rgba(128, 129, 133, 0.2);
}

.playing {
	width: 100%;
	height: 100%;
	background-size: 200% 100%;
	background-position: 100% 0;
	background-image: rgba(255, 60, 0, 0.8);
	background-image: -webkit-linear-gradient(left, rgba(255, 60, 0, 0.8) 50%, rgba(0,0,0,0) 50%);
	background-image: linear-gradient(to right, rgba(255, 60, 0, 0.8) 50%, rgba(0,0,0,0) 50%);
}


/*=============================
  PlayButtons
==============================*/

.playButtonsWrapper {
	height: 120px;
	width: 100%;
	margin: auto;
}

ul.playButtons {
	text-align: center;
	height: 100%;
	margin: auto;
}


button {
	background-color: transparent;
	border: 3px solid rgba(255, 60, 0, 0.8);
	border-radius: 50px;
	padding: 20px;
	font-size: 20px;
	margin: 10px 5px;
	color: white;
	outline: none;
	transition: all 200ms;
}

button:hover {
	color: rgba(255, 60, 0, 0.8);
	border: 3px solid white;
}

button:active {
	color: rgba(255, 60, 0, 0.3);
	border: 3px solid grey;
}

.playButtons > li {
	display: inline-block;
}


button.play {
	font-size: 35px;
}

/*=============================
  Uploader info
==============================*/

.uploader-results {
	width: 30%;
	margin-top: 20px;
	height: 100px;
	display: inline-block;
	float: left;
}

#uploader {
	color: white;
	margin: auto;
	height: 200px;
	text-align: center;
}

#uploader li {
	display: block;
	margin: 10px;
	font-size: 20px;
/*	width: 100%;*/

}


.albumArt {
	width: 150px;
	border: 2px solid lightgrey;
	border-radius: 10px;
}



/*=============================
  SoundCloud Logo
==============================*/

.soundCloudLogo {
	display: inline-block;
	margin: auto;
	margin-top: 50px;
	width: 100%;
	text-align: center;
}


.icon-soundcloud {
	font-size: 50px;
	color: rgba(255, 60, 0, 0.8);
	transition: all 100ms;
}

.icon-soundcloud:hover {
	color: lightgrey;
}












