* {
	box-sizing: border-box;
	/*border: 1px indianred solid;*/
}


body {
	/*background-color: indianred;*/
}

.wrapper {
	width: 100%;
	min-height: 720px;
	height: 100%;
	position: relative;
}


div {
	display: inline-block;

}

.genre {
	border: 1px solid rgba(255, 60, 0, 1);
	border-radius: 50px;
}

ul {
	list-style: none;
}